@font-face {
    font-family: 'Rubik_Light';
    src: url(../font/Rubik-Light.ttf);
}
.main_ctn {
    border: solid 1px white;
    box-shadow: 0 0 5px #808080;
    background-color: white;
    width: 89%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
    padding: 10px;
    color: #4D0000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.article_img {
    width: 10%;
}

.article {
    width: 33%;
}

.articles {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 0;
    margin: 20px 0;
}