
@font-face {
    font-family: 'Rubik_Black';
    src: url(../font/Rubik-Black.ttf);
}


body {
    margin: 0;
    width: 100%;
    font-family: 'Rubik_Black', sans-serif;
    background-image: url(../img/before_slider.svg);
    background-repeat: no-repeat;
    background-position-y: 15%;
    color: #4D0000;
}

header {
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  padding: 15px 0px;
  color: #4D0000;
}

ul {
    width: 30%;
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 0; 
    color: #4D0000;
}

.nav {
    text-decoration: none;
    color: #4D0000;
}


footer {    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4D0000;
    padding: 15px 0px;
    color: white;
}

a {
    text-decoration: none;
}

.nav:hover {
    color: #F9B142;
}

.search {
    width: 35%;
}

.search_bar {
    height: 49px;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    border: 1px solid white;
    background: #FFE314 url(../img/icons8-loupe-50.png) no-repeat center right 14px;
    background-size: 25px 25px;
    width: 100%;
    color: black;
}

.search_bar::placeholder {
    color: black;
}
 

li {
    padding: 5px 20px 5px 0;
    list-style-type: none;
    border-right: solid 2px #4D0000;
}

svg {
    width: 30px;
    height: 30px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 100%;
}

#svg_bar {
    border-right: solid 2px #4D0000;
    padding-right: 20px;
}

.img_footer {
    width: 20%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.info > p > a {
    color: white;
    font-family: 'rubik_light';
}

.contact > p {
    font-family: 'rubik_light';
}