
@font-face {
    font-family: 'Rubik_Black';
    src: url(../font/Rubik-Black.ttf);
}



body {
    margin: 0;
    width: 100%;

    font-family: 'Rubik_Black', sans-serif;
    background-image: url(../img/bg1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

header {
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #BB1722;
  padding: 15px 0px;
}

ul {
    width: 30%;
    gap: 10px;
    display: flex;
    justify-content: end;
    padding-right: 40px
}

.nav {
    color: black;
    text-decoration: none;
}


footer {    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #BB1722;
    padding: 15px 0px;
}

a {
    text-decoration: none;
    color: white;
}

.nav:hover {
    color: rgb(193, 223, 43);
}

.search {
    width: 35%;
}

.search_bar {
    height: 49px;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    border: 1px solid #FFE314;
    background: #FFE314 url(../img/icons8-loupe-50.png) no-repeat center right 14px;
    background-size: 25px 25px;
    width: 100%;
    color: black;
}

.search_bar::placeholder {
    color: black;
}
 

li {
    padding: 5px 20px;
    list-style-type: none;
    border-right: solid 2px black;
}

svg {
    width: 30px;
    height: 30px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 100%;
}

#svg_bar {
    border-right: solid 2px black;
    padding-right: 20px;
}