@font-face {
    font-family: 'Rubik_Light';
    src: url(../font/Rubik-Light.ttf);
}


.choice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: solid 1px white;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0 0 5px #808080;
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.choice_button {
    width: 100%;
  display: flex;
  justify-content: space-around;
}

.cat_img {
    width: 100%;
    transition: transform 0.5s;
}

.cat_img:hover {
    cursor: pointer;
    transform: scale(1.1);
    
}

.main_ctn {
    border: solid 1px white;
    box-shadow: 0 0 5px #808080;
    background-color: white;
    width: 89%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
    padding: 10px;
    color: #4D0000;
}

.articles {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    flex-wrap: wrap;
   padding: 10px 0;
   margin: 20px 0;
}

.article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 33%;
    padding: 10px 0;
}

h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1rem;
}

h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #f9b142;
}

.cat_item {
    font-family: 'Rubik_Light' ;
}

.item_button {
    background-color: #f15a25;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Rubik_Black';
    padding: 10px 20px;
}

.article_img {
    width: 20%;
    border-radius: 10px;
}

.titre1 {
    font-size: 2em;
    font-family: 'Rubik_Light';
    margin: 20px 0 0 20px ;
}

.titre2 {
    font-size: 3em;
    margin: 0 0 0 20px ;
}

h4 {
    font-size: 1.5em;
    font-family: 'rubik_light';
    text-align: center;
}